@use "tailwindcss";

@theme {
	--breakpoint-sm: 540px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;

	--spacing: 1px;

	--radius-lg: 1rem;
	--radius-md: 0.5rem;
	--radius-sm: 0.25rem;

	--color-primary: #547856;
	--color-secondary: #395144;
	--color-accent: #562253;
	--color-white: #f0ebce;
}

html {
	@apply scroll-pt-64 scroll-smooth;
}

h1 {
	@apply text-[1.8rem] uppercase;
}

h2 {
	@apply text-[1.6rem];
}

h3 {
	@apply text-[1.4rem];
}

h4,
a {
	@apply text-[1.25rem];
}

h1,
h3 {
	@apply font-semibold;
}

.text-lead {
	@apply text-[1.125rem] leading-6;
}

.container-sm {
	@apply max-w-[818px] mx-auto;
}

.container-md {
	@apply max-w-[1020px] mx-auto;
}

.container-lg {
	@apply max-w-[1224px] mx-auto;
}

.hover-up {
	@apply duration-250 ease-out hover:-translate-y-4 hover:text-white;
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}