@use "tailwindcss";

@theme {
	--breakpoint-sm: 540px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1440px;

	--spacing: 1px;

	--radius-lg: 1rem;
	--radius-md: 0.5rem;
	--radius-sm: 0.25rem;

	--color-black: #212121;
	--color-primary: #7EA16B;
	--color-secondary: #596F62;
	--color-accent: #1C3144;
	--color-white: #D4F4DD;
}

html {
	@apply scroll-pt-64 scroll-smooth;
}

h1 {
	@apply text-[2.75rem];
}

h2,
h3 {
	@apply text-[1.6rem];
}

h4 {
	@apply text-[1.4rem];
}

h5,
a {
	@apply text-[1.25rem];
}

h1,
h2 {
	@apply font-semibold uppercase;
}

p {
	@apply text-[1.125rem] leading-22;
}

.container {
	@apply mx-auto px-24;
}

.container-sm {
	@apply max-w-[818px];
}

.container-md {
	@apply max-w-[1020px];
}

.container-lg {
	@apply max-w-[1224px];
}

.hover-up {
	@apply duration-250 ease-out hover:-translate-y-4 hover:text-white;
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}